<h1>Entries in the 1860 Federal Census for Pittsylvania County
<% if @filter_column %>
	with <%=@filter_column.titleize%>="<%=@filter_value%>"
<% end %>


</h1>

<%= render :partial => 'tabular', :locals => { :federal1860_census_entries => @federal1860_census_entries, :full_columns => true }%>
