<h2>Pittsylvania County and Danville Civil War Veterans Database</h2>

<p>
	<i>An interactive database of the Civil War veteran experience in Pittsylvania 
	County and Danville, including the 1860 Census, 1870 Census, and Confederate 
	service records.</i>
</p>

<p><b>Search</b><br/>
<%= render :partial => 'searches/form' %>
</p>


<p><b>Browse</b><br/>
<%= link_to('1860 Census', federal1860_census_entries_browse_path) %><br/>
<%= link_to('1870 Census', federal1870_census_entries_browse_path) %><br/>
<%= link_to('Soldiers', soldiers_path) %>
</p>

<p>Analyze <i>(to-do)</i></p>



<p>
The data in this website was compiled by Jeffrey McClurken while researching his book 
<i>Take Care of the Living</i>.  All entries were manually transcribed from the 
manuscript census records and from the regimental history series.  Individual records 
were cross-indexed by hand. 
</p>

<p>
Website programming by Ben W. Brumfield.
</p>